@define-color foreground #dadcdd;
@define-color foreground-active #6dacff;
@define-color foreground-inactive alpha(#B7B9BC,0.5);
@define-color background #040a12;
@define-color background-active #363D44;
@define-color background-urgent #FF7920;

* {
  font-family: GeistMonoNerdFont;
  font-size: 12px;
}

#waybar {
  color: @foreground; 
  border-radius: 5px;
  background: transparent;
}

#workspaces button {
  all: unset;
  color: @foreground;
  min-height: 24px;
  font-weight: bold;
  border-radius: 2.5px;
}

#workspaces button * {
  all: unset;
  font-size: 10px;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#workspaces button.active {
  background: @foreground-active;
  color: @background;
}

#workspaces button.urgent {
  color: @background-urgent;
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#tray,
#clock,
#workspaces,
#window {
    padding: 8px 0;
    background: @background;
    min-width: 24px;
    border-radius: 5px;
    border: 2px solid @background;
}

#window {
  padding-left: 4px;
  background: alpha(@background, 0.75);
  border: 2px solid transparent;
}

#workspaces {
  padding: 0;
}

#clock,
#language {
  padding: 4px 0;
}
