@define-color foreground #dadcdd;
@define-color foreground-active #6dacff;
@define-color foreground-inactive #dadcdd;
@define-color background #040a12;
@define-color background-active #1b222a;
@define-color background-inactive #1b222a;

* {
  font-family: GeistMonoNerdFont;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

#waybar {
  color: @foreground;
  background: @background;
}

#workspaces button {
  all: unset;
  color: @foreground;
  border-radius: 0;
  padding: 0 6px;
  font-weight: bold;
}

#workspaces button * {
  all: unset;
  font-size: 10px;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#workspaces button.active {
  background: @background-active;
  color: @foreground-active;
}

#workspaces button.active.empty {
  background: @background-inactive;
}

#memory,
#temperature {
  padding-left: 8px;
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 8px; 
}
