* {
  all: revert;
  color: #4b505b;
}

body {
  background: #fafafa;
}

.anchor {
  display: none;
}

li {
  margin: 8px 0;
}

img {
  max-width: 100%;
  max-height: 200px;
}

main {
  background: inherit;
  max-width: 700px;
  padding: 16px;
  margin: auto;
}

@page {
  main { padding: 64px 32px; }
}

h1 {
  padding-bottom: 4px;
  font-size: 32px;
}

h1, h2 {
  border-bottom: 1px solid currentColor;
}

h1, h2, h3, h4, h5, h6 {
  color: #6996e0;
}
